/*Horizontal menu css start*/
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    border: none;
    line-height: 1;
    margin: 0;
    padding: 0;
}
#cssmenu {
    height: 42px;
    width: auto;
    margin: 0;
    padding: 0;
    background: #4a4a4a;
}
#cssmenu > ul {
    list-style: inside none;
    margin: 0;
    padding: 0;
}
#cssmenu > ul > li {
    list-style: inside none;
    float: left;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
#cssmenu.align-center > ul {
    text-align: center;
}
#cssmenu.align-center > ul > li {
    float: none;
    margin-left: -3px;
}
#cssmenu.align-center ul ul {
    text-align: left;
}
#cssmenu.align-center > ul > li:first-child > a {
    border-radius: 0;
}
#cssmenu > ul > li > a {
    outline: none;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 12px 20px;
    text-transform: uppercase;
}

#cssmenu ul li.has-sub:hover > a:after {
    top: 0;
    bottom: 0;
}
#cssmenu > ul > li.has-sub > a:before {
    content: "";
    position: absolute;
    top: 18px;
    right: 6px;
    border: 5px solid transparent;
    border-top: 5px solid #ffffff;
}
#cssmenu > ul > li.has-sub:hover > a:before {
    top: 19px;
}
#cssmenu > ul > li.has-sub:hover > a {
    padding-bottom: 14px;
    z-index: 999;
    border-color: #3f3f3f;
}
#cssmenu ul li.has-sub:hover > ul,
#cssmenu ul li.has-sub:hover > div {
    display: block;
}
#cssmenu > ul > li.has-sub > a:hover,
#cssmenu > ul > li.has-sub:hover > a {
    background: #3f3f3f;
    border-color: #3f3f3f;
}
#cssmenu ul li > ul,
#cssmenu ul li > div {
    display: none;
    width: auto;
    position: absolute;
    top: 38px;
    background: #3f3f3f;
    border-radius: 0 0 5px 5px;
    z-index: 999;
    padding: 10px 0;
}
#cssmenu ul li > ul {
    width: auto;
}
#cssmenu ul ul ul {
    position: absolute;
}
#cssmenu ul ul li:hover > ul {
    left: 100%;
    top: -10px;
    border-radius: 5px;
}
#cssmenu ul li > ul li {
    display: block;
    list-style: inside none;
    position: relative;
    margin: 0;
    padding: 0;
}
#cssmenu ul li > ul li a {
    outline: none;
    display: block;
    position: relative;
    font: 10pt Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 8px 20px;
    white-space: nowrap;
}

/*Horizontal menu css end*/

/*Homepage filter css start*/

.home-toolbar-button-group-button:first-child,
.home-toolbar-button-group-button:last-child{
    border-radius: 0;
}

#home_toolbar-select-share-type{
    display: none;
}

@media (max-width: 768px){
    .home-toolbar-show-filters-button {
        display: block;
    }


}
#homepage-filters .col-9{
    width: 100% !important;
}

#homepage-filters .col-3{
    display: none !important;
}

.home-toolbar-button-group-button{
    background-color: #0d4480;
    border-color: #082b52;
    color: #fff;
}

.home-toolbar-button-group-button{
    border-radius: 0 !important;
}
/*Homepage filter css end*/

/*Footer css Start*/
footer {
    background: #4a4a4a;
    background-size: contain;
    height: auto;
    position: relative;
    padding: 20px !important;
    color: #fff !important;
}

footer .layout-centered-content {
    max-width: 984px;
    margin: 0 auto
}

footer .row a {
    display: inline
}

footer h2 {
    color: #fff;
    margin-bottom: 15px;
}

footer .footer-links a {
    color: #fff;
}

footer .bottom-footer-links {
    padding: 0;
    font-size: 14px;
    color: #fff
}

footer .bottom-footer-links li {
    list-style-type: none;
    padding-right: 20px;
    display: inline
}

footer .bottom-footer-links li a {
    color: #fff;
    display: inline;
    font-size: 14px
}

footer .social-links-list {
    margin-top: 5px;
    padding: 0;
    text-align: left
}

footer .social-links-list li {
    list-style-type: none;
    display: inline-block;
    height: 30px;
    width: 50px;
    margin: 0 10px 0 0;
    padding-right: 0
}

footer .social-links-list li a {
    display: block;
    height: 30px;
    overflow: hidden
}

footer .social-links-list li.instagram a {
    font-size: 30px;
    color: #fff
}

footer .social-links-list li.twitter a {
    font-size: 30px;
    color: #fff
}

footer .social-links-list li.facebook a {
    font-size: 30px;
    color: #fff
}

footer .footer-store-links {
    clear: both;
    padding-top: 30px;
    text-align: center
}

.footer-logo img{
    width: 200px;
}
footer .bigger{
    font-size: 1em;
}
footer .smaller{
    font-size: 0.85em;
}
footer .no-left-padding{
    padding-left: 0;
}
.col-xs-3, .col-sm-3, .col-xs-6, .col-sm-6, .col-xs-12, .col-sm-12 {
    position: relative;
    min-height: 1px;
}

.col-xs-3, .col-xs-6, .col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-6 {
    width: 50%
}

@media (min-width: 769px) {

    .home-toolbar-button-group-button {
        width: auto;
        min-width: 5.5em !important;
    }


    .footer-links {
        margin-left: 10%
    }

    .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-12 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-6 {
        width: 50%
    }

    .width-40-desktop{
        width: 40%;
        display: inline;
    }
    .width-60-desktop{
        width: 60%;
        display: inline;
    }

    .col-sm-4 {
        width: 33.33%
    }

    .col-sm-3 {
        width: 25%
    }

    footer .bigger .fa{
        position: absolute;
        left: 10%;
        font-size: 1.5em;
    }
    .footer-logo{
        padding-left: 10%;
    }

}

@media (max-width: 768px) {

    footer .bigger{
        font-size: 0.85em;
    }
    footer .smaller{
        font-size: 0.70em;
    }
    footer .bigger .fa{
        position: unset;
        font-size: 1em;
        padding-right: 5px;
    }

    .text-center-mobile{
        text-align: center !important;
    }
    .width-40-desktop{
        width: 100%;
    }
    .width-60-desktop{
        width: 100%;
    }
}

.text-center{
    text-align: center !important;
}

/*Footer css end*/

/* Red banner css*/

.red-banner{
    max-width: 63em;
    background: #ea7878;
    margin: 0 auto;
    color: #fff;
    padding: 20px
}

.red-banner .italic-underground{
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: underline;
    padding: 10px 20px;
    line-height: 30px;

}

.red-banner .bold-strong{
    font-weight: 600;
    font-size: 30px;
    padding: 10px 20px;
    line-height: 30px;
}

.shipping-img-footer{
    width: 65px;
    position: absolute;
}

/*Red  banner css end*/

/*Top bar css start*/
@media (min-width: 1201px) {
    .Logo img {
        height: 80px;
    }
}

.MenuPriority{
    /*font-family: "Arial Bold";*/
    font-weight: 600;
    font-size: 15px;
}

/*Top bar css end*/

/*Grid view layout start*/

.fluid-thumbnail-grid-image-overlay{
    display: none;
}

.home-fluid-thumbnail-grid-author{
    background: #fff !important;
    height: 60px !important;

}
.fluid-thumbnail-grid-image-title{
    top: 0;
    bottom: unset !important;
    width: 100%;
    font-weight: 700;

}

.fluid-thumbnail-grid-image-title{
    display: none;
}

.price-container{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    font-weight: 700;
}

.fluid-thumbnail-grid-image-price-container{
    display: none;
}

.listing-title-container{
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
}
.author-info-container{
    position: relative;
}

.home-fluid-thumbnail-grid-author-name{
    top: 5px;
    left: 45px !important;
}


.home-fluid-thumbnail-grid-narrow .home-fluid-thumbnail-grid-item {
    margin-bottom: 2.5em !important;
}

.home-fluid-thumbnail-grid-author-avatar{
    padding-left: 0px !important;
}

#profile-listings-list .price-container{
    left: 0 !important;
}
/*Grid view layout end*/